body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header, footer {
  background: linear-gradient(to right,#800000, #6d28d9);
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  background-color: #ddd;
  margin: 0;
  padding: 0.5rem;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

section {
  padding: 2rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card {
  background-color: #f3f4f6;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  padding: 1rem;
}

.grid-reseñas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-reseñas div:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .formulario-contacto {
    padding: 1rem;
  }

  input, textarea {
    width: 100%;
  }
}
